{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}
<div class="bk-pt-default">

    <div class="page-title">
        {{widget('pagetitle', 'title', {})|raw}}
    </div>

    <div class="container">
        <section class="template-content">

        <div class="gallery portfolio-gallery">

        <!-- GALLERY WIDGET -->
        {{widget('gallery', 'portfolio', {
        'showTitle': false,
        'showDescription': true,
        'images':[
            {'url':asset('/images/gallery/portfolio/aba.jpg'), 'description':'Online English Teaching Platform'},
            {'url':asset('/images/gallery/portfolio/abi.jpg'), 'description':'Open-Source Cloud Computing Platform'},
            {'url':asset('/images/gallery/portfolio/agn.jpg'), 'description':'Worldwide leading provider of voice biometric'},
            {'url':asset('/images/gallery/portfolio/air.jpg'), 'description':'Solution that allows 3G traffic uploads through available WiFi'},
            {'url':asset('/images/gallery/portfolio/basekit.jpg'), 'description':'Cloud Platform for web development'},
            {'url':asset('/images/gallery/portfolio/be.jpg'),' description':'European leader in mobile crowdsourcing'},
            {'url':asset('/images/gallery/portfolio/brand.jpg'), 'description':'A monitoring solution which helps companies about their brand'},
            {'url':asset('/images/gallery/portfolio/campus.jpg'), 'description':'Wireless service provider targetting international students in the US'},
            {'url':asset('/images/gallery/portfolio/chan.jpg'), 'description':'Channelsigh enables brands to grow ecommerce sales'},
            {'url':asset('/images/gallery/portfolio/content.jpg'), 'description':'Content Raven’s global secure content engagement solution'},
            {'url':asset('/images/gallery/portfolio/eyeview.jpg'), 'description':'Provides personalized video advertising technology across all screens. '},
            {'url':asset('/images/gallery/portfolio/fizz.jpg'), 'description':'Fizzback helps brands to engage with their customers.'},
            {'url':asset('/images/gallery/portfolio/force.jpg'), 'description':'A light and simple sales force management software'},
            {'url':asset('/images/gallery/portfolio/fractus.jpg'), 'description':'Fractus designs, manufactures and licenses optimized antennas.'},
            {'url':asset('/images/gallery/portfolio/gcm.jpg'), 'description':'GCM develops proprietary Digital Signal Processing (DSP) solutions.'},
            {'url':asset('/images/gallery/portfolio/geo.jpg'), 'description':'Geoblink is a location intelligence SaaS.'},
            {'url':asset('/images/gallery/portfolio/group.jpg'), 'description':'Groupalia connects local merchants through a daily e-mail.'},
            {'url':asset('/images/gallery/portfolio/handmade.jpg'), 'description':'Provides celebrities and brands with their own social network'},
            {'url':asset('/images/gallery/portfolio/ijento.jpg'), 'description':'iJento enriches your digital customer data.'},
            {'url':asset('/images/gallery/portfolio/incrowd.jpg'),  'description':'Provides direct access to screened and targeted healthcare professionals.'},
            {'url':asset('/images/gallery/portfolio/jitter.jpg'), 'description':'Jitterbug is a wireless service provider targeting the US and Canada.'},
            {'url':asset('/images/gallery/portfolio/lodg.jpg'), 'description':'General Partners'},
            {'url':asset('/images/gallery/portfolio/marf.jpg'), 'description':'Marfeel offers mobile reading technology'},
            {'url':asset('/images/gallery/portfolio/mobile.jpg'), 'description':'Mobile Aware specializes in Internet content to mobile devices.'},
            {'url':asset('/images/gallery/portfolio/mysport.jpg'), 'description':'Mysportgroup is a leading online retailer of sports goods based in Berlin.'},
            {'url':asset('/images/gallery/portfolio/nubera.jpg'), 'description':'GetApp.com is a free online self-service marketplace to help businesses'},
            {'url':asset('/images/gallery/portfolio/priv.jpg'), 'description':'Privalia is a leading European and Latin American online fashion retailer.'},
            {'url':asset('/images/gallery/portfolio/rif.jpg'), 'description':'Rifiniti is a software company based in Boston, MA, and Sofia, Bulgaria. '},
            {'url':asset('/images/gallery/portfolio/scy.jpg'), 'description':'Scytl is the worldwide leader of secure e-voting solutions for the public'},
            {'url':asset('/images/gallery/portfolio/social.jpg'),'description':'Socialpoint is a leading developer of social games for Facebook and Mobile.'},
            {'url':asset('/images/gallery/portfolio/taptap.jpg'), 'description':'TAPTAP Networks offers mobilization and monetization services'},
            {'url':asset('/images/gallery/portfolio/yui.jpg'), 'description':'Yuilop is a provider of free voice and text communications.'}
        ]})|raw}}

        </div>

        </section>
    </div>

</div>

{% include "includes/footer.twig" %}

{% endblock %}
