{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}
<div class="bk-pt-default">

	<div class="page-title">
		{{widget('pagetitle', 'title', {})|raw}}
	</div>

	<div class="container">
		<section class="template-content">

        <div class="gallery row1">

        <!-- GALLERY WIDGET -->
        {{widget('gallery', 'row1', {
        'showTitle': true,
        'showDescription': true,
        'images':[
            {'url':asset('/images/gallery/team1.jpg'),'title':'Dominic Endicott', 'description':'General Partners'},
            {'url':asset('/images/gallery/team2.jpg'),'title':'Carles Ferrer', 'description':'General Partners'},
            {'url':asset('/images/gallery/team3.jpg'),'title':'Daniel Sanchez', 'description':'General Partners'},
            {'url':asset('/images/gallery/team4.jpg'),'title':'Jordi Vinas', 'description':'General Partners'}
        ]})|raw}}

        </div>

        <div class="gallery row2">

        <!-- GALLERY WIDGET -->
        {{widget('gallery', 'row2', {
        'showTitle': true,
        'showDescription': true,
        'images':[
            {'url':asset('/images/gallery/team5.jpg'),'title':'Alfonso Bassols', 'description':'Operations and Finance'},
            {'url':asset('/images/gallery/team6.jpg'),'title':'Magnus Rinnan Gaarder', 'description':'Investment Manager'},
            {'url':asset('/images/gallery/team7.jpg'),'title':'Guillem Sague', 'description':'Investment Manager'},
            {'url':asset('/images/gallery/team8.jpg'),'title':'Anna Daviau', 'description':'Portfolio Manager'},
            {'url':asset('/images/gallery/team9.jpg'),'title':'Bob Borges', 'description':'Investment Manager'}
        ]})|raw}}

        </div>
        
		   	{{zone('main')|raw}}

		</section>
	</div>

</div>

{% include "includes/footer.twig" %}

{% endblock %}
