<!-- Header -->
<header class="template-header container">
    <div class="header-wrapper">

        <div class="header-logo">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>

        <div class="header-extendednavigation">
            <div class="widget  widget--template-widget" data-widget-type="extendednavigation" data-uniqueid="page-zones__template-widgets__extendednavigation-extendednavigation">
                <div class="bk-extendednavigation  extendednavigation  widget__extendednavigation  align-right" itemscope="" itemtype="https://www.schema.org/SiteNavigationElement">
                    <button class="js-pull  navigation-toggle  icon  icon--bars  extendednavigation__navigation-toggle">Menu</button>
                    <nav class="navigation-body  extendednavigation__navigation-body">
                        <ul class="navigation-list  extendednavigation__navigation-list  js-menu-list  itemcount-9">
                            <li class="navigation-item  extendednavigation__navigation-item home  selected" itemprop="name">
                                <a href="/" class="item-name  extendednavigation__item-name" itemprop="url">Home</a>
                            </li>
                            <li class="navigation-item  extendednavigation__navigation-item page" itemprop="name">
                                <a href="/portfolio" class="item-name  extendednavigation__item-name" itemprop="url">Portfolio</a>
                            </li>
                            <li class="navigation-item  extendednavigation__navigation-item page" itemprop="name">
                                <a href="/approach" class="item-name  extendednavigation__item-name" itemprop="url">Approach</a>
                            </li>
                            <li class="navigation-item  extendednavigation__navigation-item page" itemprop="name">
                                <a href="/blog" class="item-name  extendednavigation__item-name" itemprop="url">News</a>
                            </li>
                            <li class="navigation-item  extendednavigation__navigation-item page" itemprop="name">
                                <a href="/team" class="item-name  extendednavigation__item-name" itemprop="url">Team</a>
                            </li>
                            <li class="navigation-item  extendednavigation__navigation-item page" itemprop="name">
                                <a href="/careers" class="item-name  extendednavigation__item-name" itemprop="url">Careers</a>
                            </li>
                            <li class="navigation-item  extendednavigation__navigation-item page" itemprop="name">
                                <a href="/contact" class="item-name  extendednavigation__item-name" itemprop="url">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- End Header -->
